{% extends 'base.html'%}
{%load static%}
{%block content%}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Change Password</h4>
      
                <div id="loader" class="text-center my-3" style="display: none;">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Processing...</span>
    </div>
    <p class="mt-2">please wait...</p>
</div>
                <div id="formMessages_pass_change"></div>
      <form method="post" id="cust_change_password_for_activation_form">
        {% csrf_token %}
          <div class="form-group">
			 <input type="password" name = "first_password" class="form-control" placeholder="Password" >
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" name = "confirm_password" class="form-control" placeholder="Confirm Password" >
          </div> <!-- form-group// -->
          
         
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Change Password  </button>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     {% comment %} <p class="text-center mt-4">Don't have account? <a href="{%url 'register'%}">Sign up</a></p> {% endcomment %}
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>
   const cust_change_password_for_activation = "{% url 'cust_change_password_for_activation' %}";
</script>
<script src="{% static 'js/cust_change_password_for_activation.js' %}"></script>

{%endblock%}