{% extends 'base.html'%}
{%load static%}
{%block content%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
   <!-- ============================ COMPONENT LOGIN   ================================= -->
   <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
         <h4 class="card-title mb-4">Sign in</h4>
         <div id="loader" class="text-center my-3" style="display: none;">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
               <span class="visually-hidden">Processing...</span>
            </div>
            <p class="mt-2">please wait...</p>
         </div>
         <div id="formMessages"></div>
         <form id="customer_login_form" method="post">
            {% csrf_token %}
            <input type="hidden"
           name="next"
           value="{{ request.GET.next|default:'' }}">



            <div class="form-group">
               <input type="email" name = "user_email" class="form-control" placeholder="Email Address" >
            </div>
            <!-- form-group// -->
            <div class="form-group">
               <input type="password" name = "user_password" class="form-control" placeholder="Password" >
            </div>
            <div class="form-check">
    <input 
        class="form-check-input" 
        type="checkbox" 
        name="remember_me" 
        id="remember_me"
    >
    <label class="form-check-label" for="remember_me">
        Remember me
    </label>
</div>
            <!-- form-group// -->
            <div class="form-group">
               <a href="{%url 'forgot_password'%}" class="float-right">Forgot password?</a> 
            </div>
            <!-- form-group form-check .// -->
            <div class="form-group">
               <button type="submit" class="btn btn-primary btn-block"> Login  </button>
            </div>
            <!-- form-group// -->    
         </form>
      </div>
      <!-- card-body.// -->
   </div>
   <!-- card .// -->
   <p class="text-center mt-4">Don't have account? <a href="{%url 'register'%}">Sign up</a></p>
   <br><br>
   <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
 <script>
   const customer_login = "{% url 'customer_login' %}";
</script>
<script src="{% static 'js/customer_login.js' %}"></script>
{%endblock%}