{% extends 'base.html'%}
{%load static%}
{%block content%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
   <!-- ============================ COMPONENT LOGIN   ================================= -->
   <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
         <h4 class="card-title mb-4">Forgot Password</h4>
         <div id="loader" class="text-center my-3" style="display: none;">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
               <span class="visually-hidden">Processing...</span>
            </div>
            <p class="mt-2">please wait...</p>
         </div>
         <div id="formMessages"></div>
         <form id="forgot_password_form" method="post">
            {% csrf_token %}
            <div class="form-group">
               <input type="email" name = "forget_pass_email" class="form-control" placeholder="Email Address" >
            </div>
            <!-- form-group// -->
            
            <!-- form-group// -->
            <div class="form-group">
               <a href="{% url 'customer_login'%}" class="float-right">Back to Login</a> 
            </div>
            <!-- form-group form-check .// -->
            <div class="form-group">
               <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
            </div>
            <!-- form-group// -->    
         </form>
      </div>
      <!-- card-body.// -->
   </div>
   <!-- card .// -->
   <p class="text-center mt-4">Don't have account? <a href="{%url 'register'%}">Sign up</a></p>
   <br><br>
   <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
 <script>
   const forgot_password = "{% url 'forgot_password' %}";
</script>
<script src="{% static 'js/forgot_password.js' %}"></script>
{%endblock%}