{% extends 'base.html' %}
{% load static %}
{%block content%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
   <!-- ============================ COMPONENT REGISTER   ================================= -->
   <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
         <header class="mb-4">
            <h4 class="card-title">Sign up</h4>
         </header>
         <div id="loader" class="text-center my-3" style="display: none;">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
               <span class="visually-hidden">Processing...</span>
            </div>
            <p class="mt-2">please wait...</p>
         </div>
         <div id="formMessages"></div>
         <form id="customer_register_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
               <div class="col form-group">
                  <label>First name<span class="mandatory_sign"> *</span></label>
                  <input type="text" name ="first_name" class="form-control" placeholder="">
               </div>
               <!-- form-group end.// -->
               <div class="col form-group">
                  <label>Last name<span class="mandatory_sign"> *</span></label>
                  <input type="text" name="last_name" class="form-control" placeholder="">
               </div>
               <!-- form-group end.// -->
            </div>
            <!-- form-row end.// -->
            <div class="form-group">
               <label>Email<span class="mandatory_sign"> *</span></label>
               <input type="email" name="user_email" class="form-control" placeholder="">
               <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <!-- form-group end.// -->
            <div class="form-group">
               <label>Phone<span class="mandatory_sign"> *</span></label>
               <input type="tel" class="form-control" name="user_phone" placeholder="01712345678">
               <small class="form-text text-muted">We'll never share your phone with anyone else.</small>
            </div>
            <!-- form-group end.// -->
            <div class="form-group">
               <label class="custom-control custom-radio custom-control-inline">
               <input class="custom-control-input" checked="" type="radio" name="gender" value="1">
               <span class="custom-control-label"> Male </span>
               </label>
               <label class="custom-control custom-radio custom-control-inline">
               <input class="custom-control-input" type="radio" name="gender" value="2">
               <span class="custom-control-label"> Female </span>
               </label>
            </div>
            <!-- form-group end.// -->
            <div class="form-row">
               <div class="form-group col-md-6">
                  <label>City</label>
                  <input type="text" class="form-control" name="city">
               </div>
               <!-- form-group end.// -->
               <div class="form-group col-md-6">
                  <label>Country<span class="mandatory_sign"> *</span></label>
                  {% comment %} 
                  <select id="inputState" class="form-control">
                     <option> Choose...</option>
                     <option>Uzbekistan</option>
                     <option>Russia</option>
                     <option selected="">United States</option>
                     <option>India</option>
                     <option>Afganistan</option>
                  </select>
                  {% endcomment %}
                  <select id="inputState" class="form-control" name="selected_country_name">
                     {%for country in all_country_list %}
                     <option value="{{country}}" {%if country_name == country%} selected {%endif%} >{{country}}</option>
                     {% comment %} 
                     <option value="{{country}}">{{country}}</option>
                     {% endcomment %}
                     {%endfor%}
                  </select>
               </div>
               <!-- form-group end.// -->
            </div>
            <!-- form-row.// -->
            {% comment %} 
            <div class="form-row">
               <div class="form-group col-md-6">
                  <label>Create password</label>
                  <input class="form-control" type="password" name="password">
               </div>
               <!-- form-group end.// --> 
               <div class="form-group col-md-6">
                  <label>Repeat password</label>
                  <input class="form-control" type="password" name="repassword">
               </div>
               <!-- form-group end.// -->  
            </div>
            {% endcomment %}
            <div class="form-group">
               <label>Address Line 1<span class="mandatory_sign"> *</span></label>
               <input type="text" class="form-control" name="address_line1" placeholder="">
               
            </div>
            <!-- form-group end.// -->
             <div class="form-group">
               <label>Address Line 2(Optional)</label>
               <input type="text" class="form-control" name="address_line2" placeholder="">
               
            </div>
            <!-- form-group end.// -->
            <div class="row mb-3">
               <div class="col-md-6">
                  <label for="formFile" class="form-label">Add Your Photo</label>
                  <input class="form-control" type="file" id="formFile" name="user_photo">
                  <div class="form-text">Upload JPG/PNG (max 300KB)</div>
               </div>
            </div>
            <div class="form-group">
               <button type="submit" class="btn btn-primary btn-block"> Register  </button>
            </div>
            <!-- form-group// -->      
         </form>
      </article>
      <!-- card-body.// -->
   </div>
   <!-- card .// -->
   <p class="text-center mt-4">Have an account? <a href="{%url 'customer_login'%}">Log In</a></p>
   <br><br>
   <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>
   const register_user = "{% url 'register' %}";
</script>
<script src="{% static 'js/register.js' %}"></script>
{%endblock%}