{% extends 'base_main.html'%}
{%load static%}
{%block content%}
<div class="container-fluid d-flex justify-content-center align-items-center bg-light">
   <div class="card form-card shadow-lg p-4 card_main_all_user">
      {% comment %} 
      <h3 class="mb-3 text-center">Change Password To Activate</h3>
      <p class="text-muted text-center mb-4">Fill the password below to activate your account</p>
      {% endcomment %}
      <div id="loader" class="text-center my-3" style="display: none;">
         <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Processing...</span>
         </div>
         <p class="mt-2">please wait...</p>
      </div>
      <form id="password_chg_from" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="container mt-5">
            <div class="row justify-content-center">
               <div class="col-md-6">
                  <!-- Bootstrap Card for better look -->
                  <div class="card shadow-lg border-0 rounded-3">
                     <div class="card-body p-4">
                        <p class="text-center" id="formMessages_pass_change"></p>
                        <h3 class="card-title text-center mb-4">Change Password</h3>
                        <p class="text-muted text-center mb-4">Fill the password filed below to change your password</p>
                        <!--old Password -->
                        <div class="mb-3">
                           <label for="password" class="form-label">Current Password</label>
                           <input 
                              type="password" 
                              class="form-control form-control-lg" 
                              id="current_password" 
                              name="current_password" 
                              placeholder="Enter Current password" 
                              >
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                           <label for="new_password" class="form-label">New Password</label>
                           <input 
                              type="password" 
                              class="form-control form-control-lg" 
                              id="new_password" 
                              name="new_password" 
                              placeholder="Enter new password" 
                              >
                        </div>
                        <!-- Confirm Password -->
                        <div class="mb-3">
                           <label for="confirm_new_password" class="form-label">Confirm Password</label>
                           <input 
                              type="password" 
                              class="form-control form-control-lg" 
                              id="confirm_new_password" 
                              name="confirm_new_password" 
                              placeholder="Confirm new password" 
                              >
                        </div>
                        <!-- Buttons -->
                        <div class="row mt-4">
                           <div class="col-6">
                              <button type="submit" class="btn btn-primary btn-lg w-100 change_password_activation">
                              Change Password
                              </button>
                           </div>
                           <div class="col-6">
                              <button type="reset" class="btn btn-outline-secondary btn-lg w-100">
                              Reset
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
<script>
   const chnpassUrl = "{% url 'change_password' %}";
</script>
<script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}